nav.nav {
  background: $color-blue;
  box-shadow: none;
  height: auto;
  line-height: auto;
}

.nav-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-wrapper-logo {
  img {
    height: 40px;
    vertical-align: middle;
    width: auto;

    @media screen and (max-width: $screen-xs-max) {
      height: 20px;
    }
  }
}

.nav-wrapper-links {
  & > li > a {
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 14px;
      padding: 0 10px;
    }
  }
}