.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  &.m_content {
    clear: both;
    margin: 60px auto;
    
    @media screen and (min-width: $screen-lg) {
      max-width: 100%;
      width: 80%;
    }

    @media screen and (max-width: $screen-md-max) {
      margin: 40px auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: $screen-xs-max) {
      margin: 30px auto;
    }
  }
}