body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  box-shadow: 0 6px 8px $color-gray-30;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 1.8em;
    padding: 20px 10px;
  }

  @media screen and (max-width: $screen-xs-max) {
    font-size: 1.4em;
  }
}

h3 {
  border-bottom: 1px solid $color-gray-30;
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 4px;
  margin-bottom: 30px;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 1.2em;
  }
}