@import url(../../../node_modules/materialize-css/dist/css/materialize.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  outline: none; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

h1 {
  box-shadow: 0 6px 8px #e0e0e0;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding: 30px;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 1.8em;
      padding: 20px 10px; } }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 1.4em; } }

h3 {
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 4px;
  margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    h3 {
      font-size: 1.2em; } }

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }
  .container.m_content {
    clear: both;
    margin: 60px auto; }
    @media screen and (min-width: 1200px) {
      .container.m_content {
        max-width: 100%;
        width: 80%; } }
    @media screen and (max-width: 1199px) {
      .container.m_content {
        margin: 40px auto;
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 767px) {
      .container.m_content {
        margin: 30px auto; } }

nav.nav {
  background: #40809A;
  box-shadow: none;
  height: auto;
  line-height: auto; }

.nav-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.nav-wrapper-logo img {
  height: 40px;
  margin-bottom: 6px;
  vertical-align: middle;
  width: auto; }
  @media screen and (max-width: 767px) {
    .nav-wrapper-logo img {
      height: 20px;
      margin-bottom: 0; } }

@media screen and (max-width: 767px) {
  .nav-wrapper-links {
    margin-top: 4px; } }
.nav-wrapper-links > li > a {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .nav-wrapper-links > li > a {
      font-size: 14px;
      padding: 0 10px; } }
  .nav-wrapper-links > li > a:hover {
    color: #173753;
    background: none; }

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .btn-group.m_inline {
    justify-content: flex-start; }
  .btn-group.m_spaced {
    margin: 30px auto; }
  .btn-group .btn:not(:last-child) {
    margin-right: 8px; }

.btn {
  box-shadow: none;
  cursor: pointer !important; }
  @media screen and (max-width: 767px) {
    .btn {
      font-size: .9em;
      height: 32px;
      line-height: 32px; } }

.btn-action {
  background: #109648; }
  .btn-action:hover {
    background: #095127; }

.btn-neutral {
  background: #173753; }
  .btn-neutral:hover {
    background: #060f17; }

.btn-mute {
  background: #b3b3b3; }
  .btn-mute:hover {
    background: gray; }

.btn-danger {
  background: #ac3931; }
  .btn-danger:hover {
    background: #702520; }

.btn-back {
  display: table;
  margin: 50px auto; }
  @media screen and (max-width: 767px) {
    .btn-back {
      margin: 30px auto; } }

.exercises {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 31%);
  text-align: center; }
  @media screen and (max-width: 991px) {
    .exercises {
      grid-template-columns: repeat(2, 48%); } }
  @media screen and (max-width: 767px) {
    .exercises {
      grid-template-columns: repeat(1, 100%); } }

.exercises-box {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 50px 30px; }
  @media screen and (max-width: 767px) {
    .exercises-box {
      padding: 30px; } }
  .exercises-box .btn {
    flex: 1;
    padding-left: 0;
    padding-right: 0; }

.exercises-box-type {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 80px;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .exercises-box-type {
      font-size: .9em;
      margin-bottom: 30px; } }

.exercises-box-icon {
  display: block;
  height: 100px;
  margin-bottom: 30px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .exercises-box-icon {
      height: 30px; } }
  .exercises-box-icon.m_strength {
    background: url("../../img/icon-strength.svg") no-repeat center top/auto 60px; }
    @media screen and (max-width: 767px) {
      .exercises-box-icon.m_strength {
        background-size: auto 25px; } }
  .exercises-box-icon.m_cardio {
    background: url("../../img/icon-cardio.svg") no-repeat center top/auto 80px; }
    @media screen and (max-width: 767px) {
      .exercises-box-icon.m_cardio {
        background-size: contain; } }

.exercises-box-name {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .exercises-box-name {
      font-size: 1.3em;
      margin-bottom: 30px; } }
  .exercises-box-name a {
    color: #000; }

.c_sets {
  margin-bottom: 50px; }

.set {
  align-items: center;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .set {
      border-radius: 0;
      border-width: 0 0 2px 0;
      margin: 0;
      padding: 20px; }
      .set:first-child {
        padding-top: 10px; }
      .set:last-child {
        border: none; } }
  .set > button {
    border: none;
    height: 70px;
    text-indent: -9999px;
    width: 70px; }
    @media screen and (max-width: 767px) {
      .set > button {
        height: 50px;
        width: 50px; } }

.set-increase {
  background: url("../../img/icon-increase.svg") no-repeat center center/contain; }

.set-decrease {
  background: url("../../img/icon-decrease.svg") no-repeat center center/contain; }

.set-details {
  flex: 1; }

.set-details-number {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .set-details-number {
      font-size: 15px; } }

.set-details-quantity,
.set-details-exertion {
  color: gray;
  font-size: 1.2em;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .set-details-quantity,
    .set-details-exertion {
      font-size: 14px; } }
  .set-details-quantity strong,
  .set-details-exertion strong {
    color: #40809A;
    display: block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 5px; }

.set-details-quantity {
  margin-bottom: 20px; }

.form_set {
  margin: 40px 0; }

.review-exercise {
  margin-bottom: 20px; }

.review-exercise-label,
.review-set-number {
  color: #40809A;
  display: block;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: uppercase; }

.review-exercise-data {
  margin-bottom: 20px; }

.review-set {
  margin-bottom: 20px; }
  .review-set > p {
    margin-bottom: 10px; }
  .review-set strong {
    font-weight: 600; }

.review-set-number {
  font-weight: 600; }

label small {
  color: #ccc;
  font-size: .8em; }

.footer {
  border-top: 1px solid #ebebeb;
  color: #999999;
  font-size: .9em;
  margin-top: 75px;
  padding: 30px 0;
  text-align: center; }

.home-hero {
  align-items: center;
  background: #fbb13c;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 100px;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .home-hero {
      padding: 20px; } }

.home-hero-title {
  color: #000;
  box-shadow: none;
  padding-top: 0; }

.home-hero-text {
  font-size: 1.4em;
  line-height: 1.6em; }
  @media screen and (max-width: 767px) {
    .home-hero-text {
      font-size: 1.2em; } }

@media screen and (min-width: 768px) {
  .exercise-details {
    display: flex;
    justify-content: flex-start; } }

@media screen and (min-width: 768px) {
  .exercise-details-name {
    margin-right: 30px; } }

.exercise-details-name,
.exercise-details-type {
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .exercise-details-name,
    .exercise-details-type {
      width: 30%; } }
  .exercise-details-name span,
  .exercise-details-type span {
    color: #40809A;
    display: block;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .exercise-details-name span,
      .exercise-details-type span {
        font-size: 15px; } }

/*# sourceMappingURL=application.css.map */
